.admin-panel {
  height: 100vh;
}

.addexpo-content {
  margin-left: 150px;
  background-color: #f8f9fa;
  padding: 0px 40px;
  min-height: 100vh;
}




.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
  padding: 10px 20px;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* page-wide scroll hide */
}


